/* H1 animation */
@keyframes moveInLeft {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  /* overflow a bit in right direction --> */
  80% {
    transform: translateX(1rem);
  }

  /* finish */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* H1 animation */
@keyframes moveInBottom {
  /* start */
  0% {
    opacity: 0;
    transform: translateY(40rem);
  }

  /* finish */
  100% {
    transform: translateY(0);
  }
}

@keyframes moveInRight {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  /* overflow a bit in right direction --> */
  80% {
    transform: translateX(-1rem);
  }

  /* finish */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInButton {
  /* start */
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  /* finish */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes videoChange {
  0% {
    opacity: 1;
    filter: grayscale(1) opacity(0.5) brightness(0.4) contrast(0.7);
  }

  /* finish */
  95% {
    filter: grayscale(1) brightness(0.4) contrast(1.05);
  }

  100% {
    opacity: 0.2;
    filter: opacity(0.3) grayscale(1) brightness(0.4) contrast(1.05);
  }
}

@keyframes textBackground {
  to {
    background-color: rgba($color-primary-dark, 0.4);
  }
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1 }
}

@keyframes expandWidth {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

@keyframes removeBorder {
  to {
      border: 1px solid transparent;
  }
}


@mixin barAnimation($percentage) {
  animation: load 2s forwards;
  @keyframes load {
    @for $i from 1 through 100 {
      #{$i * 1%} {
        width: $i * 1%;
      }
    }

    100% {
      opacity: 1;
    }
  }
}

@mixin counter($percentage) {
  animation: max_#{$percentage} 2s forwards;
  @keyframes max_#{$percentage} {
    @for $i from 1 through $percentage {
      #{$i * 1%} {
        content: "#{$i}%";
      }
    }
  }
}
