
.content {
  width: 100%;
  height: 100%;
  display: flex;
}

.map {

}


.sidebar {
  width: 10%;
}

.app-container {
    // position: relative;
}

.sale-details {
    padding: 2rem 3rem;
    position: absolute;
    box-shadow: 0 1rem 2rem rgba($color-black, .1);

    right: 10%;
    bottom: 10%;
    width: 70rem;
    height: 10rem;
    z-index: 200;
    background-color: white;
}


.popup {

  width: 100%;
  height: 100vh;
  position: fixed;
  top:0 ;
  left: 0;
  background-color: rgba($color-black, 0.8);

  padding: 11rem 20rem;
  z-index: 9999;

  // unlike 'display: none', these 2 won't disable animation
  // opacity: 0;
  // visibility: hidden;
  transition: all .4s;

  @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba($color-black, 0.3);    
  }

  &__content {
      @include absCenter;

      width: 75%;
      background-color: $color-white;
      box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
      border-radius: 3px;
      // enforces same size for child elements (cells)
      display: table;

      // fix images removing border radius
      overflow: hidden;
      opacity: 1;
      transition: all .5s .2s; // delay by .2s
      transform: translate(-50%, -50%) ;
  }

  &__left {
      width: 33.333333%;
      // instead of float: left, use table-cell
      // so the height of right matches height of left
      display: table-cell;
      
      @include respond(tab-port) { 
          width: 0%;
          display: none;
      }
  }

  &__right {
      width: 66.66667%;
      display: table-cell;
      vertical-align: middle; // align content in the middle
      padding: 3rem 5rem;
  }

  &__img {
      display: block;
      width: 100%;    
  }

  &__text {
      font-size: 1.4rem;
      margin-bottom: 4rem;

      // create 2 columns of text
      -moz-column-count: 2;
      -moz-column-gap: 4rem; // between 2 cols
      -moz-column-rule: 1px solid $color-grey-light-2; // border between 2 columns

      column-count: 2;
      column-gap: 4rem; // between 2 cols
      column-rule: 1px solid $color-grey-light-2; // border between 2 columns

      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;

      hyphens: auto; // figure out where to place hyphens, NOTE requires lang attribute on html

      @include respond(phone) { 
          -moz-column-count: 1;
          column-count: 1;
      }

  }

  // when element is targeted (#popup in url)
  // &:target {
  //     opacity: 1; 
  //     visibility: visible;
  // }

  // // animate content (scale)
  // &:target &__content {
  //     opacity: 1;
  //     transform: translate(-50%, -50%) scale(1);
  // }

  &__close {
      &:link,
      &:visited {
          color: $color-grey-dark;
          position: absolute;
          top: 2.5rem;
          right: 2.5rem;
          font-size: 3rem;
          text-decoration: none;
          display: inline-block;
          line-height: 1;
      }

      &:hover,
      &:active {
          color: $color-primary;
      }
  }
}
