
// COLORS
$color-primary: #1a1a1d;
$color-primary-dark: #141416;

$color-secondary: #e84545;
$color-secondary-dark: #ff3153;

$color-tertiary: #f17a3aff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #b9b9b9;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;

// MISC
$skew-social: 15deg;
$rotate-social: 15deg;
